@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------all-section-------*/
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*---------------------------------background-------*/
.home-2-bg {
   background: url("../images/around-the-world.jpg") no-repeat bottom;
   min-height: 380px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
/*---------------------------------navs-------*/
.nav a {
  float: left;
  color:#000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.jumbotron h1 {
    color: #000;
    font-weight: bold;
    margin-bottom: 30px;
    }

body {
  background-color: whitesmoke;
}

/* element that contains the map. */

#map {
  height: 100%;
  width: 80%;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 500px;
  border: 1px solid #000;
}


/* Size of the page in the window. */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* write-up at the side of the map */

.write {
  letter-spacing: 5px;
  word-spacing: 20px;
  color: #808000;
  margin-top: 40px;
}



#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
};
.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.feature {
    color: black;
    background-color: whitesmoke;

}

#map {
  border: 1px solid #ccc;
}

.jumbotron {
    background-color: transparent;
}


@media screen and (max-width: 667px) {
    .body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}